@media screen and (max-width: 500px) {
  .main {
    padding: 1.5rem;
    height: 100%;
  }

  .content {
    width: 100%;
  }

  .background {
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    height: 17.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  ul li {
    padding: 0.8rem 0 0 0.5rem;
  }

  button {
    margin: 1.5rem 0;
  }

  .main h1 {
    font-size: 2rem;
    margin: 1.2rem 0;
  }

  .background img {
    display: none;
  }

  .confirm-msg {
    padding: 1.5rem;
  }

  .confirm-msg h1 {
    line-height: 2.5rem;
  }

  .confirm-msg img {
    margin: 8rem 0 1rem 0;
  }

  .confirm-msg button {
    margin: 17rem 0 0 0;
  }
}
