/* 

Colors

Primary 
- Tomato (#FF6156)

Netural
- Dark Slate Grey (#242741)
- Charcoal grey (#36384E)
- Grey (#9194A0)
- White (#FFFFFF)

Typography 

Body 

Font size (para): 1rem

Font 

Family: Roboto
Weights: 400, 700 

*/

* {
  box-sizing: border-box;
}

@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

body {
  font-size: 1rem;
  font-family: roboto;
  color: #242741;
  margin: 0;
  line-height: 1.5rem;
  font-weight: 400;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

h1,
label {
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

li::marker {
  content: url(./assets/images/icon-list.svg);
}

li {
  padding: 0.8rem 0 0 0.5rem;
}

label {
  display: inline-block;
  font-size: smaller;
  margin-top: 1rem;
}

input {
  display: block;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 0.2rem;
  border: 1px solid #9194a0;
  width: 100%;
  cursor: pointer;
}

::placeholder {
  color: #9194a0;
}

button {
  padding: 1rem;
  border: none;
  background-color: #36384e;
  color: #ffffff;
  margin-top: 1.5rem;
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
}

.label-div {
  display: flex;
  justify-content: space-between;
}

.error:focus {
  color: #ff6156;
  border-color: #ff6156;
  background-color: #fac9c7;
  outline: none;
  border: 1px solid #ff6156;
}
.error {
  color: #ff6156;
}

label:last-child {
  background-color: #ffffff;
}

input:focus {
  outline: none;
  border: 1px solid #242741;
}
